//- Daily UI #013 Direct Messaging

.chat
	.chat-title
		h2 Kelly Chen
		figure.avatar: img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/764024/profile/profile-512.jpg")
	.messages
		.messages-content
	.action-box
		textarea.action-box-input(type="text" placeholder="Type message...")
		button.action-box-submit(type="submit" onclick="insertMessage()"): i.fa.fa-paper-plane